<div
  class="toast-container position-fixed top-0 end-0 p-3"
  aria-live="polite"
  aria-atomic="true"
>

  @if (toasts$ | async; as toasts) {

    @for (toast of toasts; track toast.id) {

      <div 
        class="toast show custom-toast"
        role="status"
        [ngClass]="{
          'toast-success': toast.toastType === 'success',
          'toast-error': toast.toastType === 'error',
          'toast-info': toast.toastType === 'info'
        }"
      >
        <div class="toast-content">
          <i
            class="toast-icon bi"
            [ngClass]="{
              'bi-check-circle-fill': toast.toastType === 'success',
              'bi-exclamation-circle-fill': toast.toastType === 'error',
              'bi-info-circle-fill': toast.toastType === 'info'
            }"
          ></i>

          <span class="toast-message">
            {{ toast.message }}
          </span>

          <button
            type="button"
            class="btn-close"
            aria-label="Dismiss notification"
            (click)="remove(toast.id)">
          </button>
        </div>
      </div>

    }

  }

</div>
